.hyouzi{
    display: none;
}
.hyouzi.ima{
    background-color: rgb(136, 191, 239);
    width: 406px;
    height: 406px;
    display: block;
    text-align: center;
    border: 3px solid darkgray;
    border-radius: 3px;
}
body{
    background-color: skyblue;
    margin:0;
}
.honntai{
    max-width: 420px;
    margin: 0 auto;
    width: fit-content;
}
.itiretume{
    margin:auto auto auto auto;
    display: flex;
}
.nisenn{
    border:1px solid gray;
    border-radius: 3px;
    width: 100px;
    height:100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-clip: padding-box;
    font-size: 30px;
}
.tesut{
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 2px 2px 2px 2px;
    color: hsl(28,45%,35%);
    background: #4db56a;
    font-weight:600;
    margin: 10px;
    width: 100px;
    height: 45px;
}
.ue{
    margin: 15px;
    border: none;
    width: 50px;
    height: 20px;
    clip-path: polygon(0 100%, 100% 100%, 50% 20%);
    opacity: 75%;

}
.sita{
    position: relative;
    left: 25px;
    margin: 15px;
    border: none;
    width: 50px;
    height: 20px;
    clip-path: polygon(0 0, 100% 0%, 50% 80%);
    opacity: 75%;

}
.hidari{
    margin:auto 15px auto 15px;
    border: none;
    width: 20px;
    height: 50px;
    clip-path: polygon(100% 0, 100% 100%, 20% 50%);
    opacity: 75%;

}
.migi{
    margin:auto 15px auto 15px;
    border: none;
    width: 20px;
    height: 50px;
    clip-path: polygon(0 0, 0% 100%, 80% 50%);
    opacity: 75%;

}
.diamond{
    z-index: 50;
    position: relative;
    margin: -115px auto 0px 110px;
    width: 180px;
    height: 180px;
    background: silver;
    transform: rotate(-45deg) skew(15deg, 15deg);
    line-height:60px;
    border: 3px solid gray;
}
.diamon{
    margin-right: -9px;
    width: 180px;
    height: 180px;
    background: silver;
    transform: rotate(15deg) skew(15deg, 15deg);
    line-height:60px;
    border: 3px solid gray;
}
.diamo{
    margin-left: -9px;
    width: 180px;
    height: 180px;
    background: silver;
    transform: rotate(-15deg) skew(-15deg, -15deg);
    line-height:60px;
    border: 3px solid gray;
}
.korena{
    z-index: 50;
    position: relative;
    padding: 0px;
    margin: -40px 0px 0px 26px;
    display: flex;
}
.hitotume{
    font-size: large;
    width: 58px;
    height: 58px;
    border: 1px solid gray;
    opacity: 75%;
}
.hutatume{
    font-size: large;
    width: 58px;
    height: 58px;
    border: 1px solid gray;
    opacity: 75%;
}
.mittume{
    font-size: large;
    width: 58px;
    height: 58px;
    border: 1px solid gray;
    opacity: 75%;
}
.bunsyou{
    font-size: 20px;
    line-height: 20px;
    overflow-wrap: break-word;
    font-weight: 900;
    color: brown;
}
.hosoku{
    font-size: 15px;
    overflow-wrap: break-word;
}
.haisyoku{
    background-color: yellow;
    color: black;
    position: relative;
    left: 130px;
    top: -10px;
    width: 45px;
    height: 45px;
}
.bun{
    margin: 0;
    width: 410px;
    height: 105px;
}
.tugi{
    background-color: hsl(0,0%,60%);
    position: relative;
    left: 160px;
    margin: 10px;
    width: 60px;
    height: 30px;
}
button.ue:hover {
    opacity: 100%;
}
button.sita:hover {
    opacity: 100%;
}
button.migi:hover {
    opacity: 100%;
}
button.hidari:hover {
    opacity: 100%;
}
.siiesude{
    position: absolute;
    top: 70px;
    background-color: skyblue;
}
.kakimasyou{
    width: 412px;
}
.atara{
    display: none;
    animation: fadeIn 0.3s;
}
.atara.visi{
    position: absolute;
    padding: 15px;
    top: 65px;
    display: block;
    width: 376px;
    height: 150px;
    background-color: lightgray;
    border: 3px solid gray;
    border-radius: 5px;
}
.kokonikaku{
    margin: 0 auto 0px auto;
    width: 346px;
    height: 80px;
    font-size: 20px;
}
.kakunoka{
    text-align: center;
    font-size: small;
    border: 1px solid;
    border-radius: 5px;
    padding: 2px 2px 2px 2px;
    color: hsl(28,45%,35%);
    background: #58da7d;
    width: 90px;
    height: 30px;
    position: relative;
    left: 140px;
    top: 25px;
}
.dezain{
    margin: auto auto;
    display: flex;
    position: relative;
    border-radius: 0 0 5px 5px;
    top:0px;
    width: 450px;
    height: 60px;
    background-color: #4db56a;
}
.tatitoru{
    position: relative;
    left: 15px;
    width: 212px;
    height: 57px;
}
.poppo{
    display: none;
    position: absolute;
    font-size: small;
    animation: fadeIn 0.6s;
    top: 98px;
    background-color: darkgray;
    border: 1px black solid;
}
.poppu{
    display: none;
    position: absolute;
    font-size: small;
    animation: fadeIn 0.5s;
    top: 98px;
    left: 60px;
    background-color: darkgray;
    border: 1px black solid;
}
.tekiyouya{
    position: absolute;
    top: 135px;
    width: 35px;
    height: 35px;
}
.mouitido{
    position: absolute;
    top: 135px;
    left: 60px;
    width: 35px;
    height: 35px;
}
.ikonkon{
    font-size:1.3em;
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
@media screen and (max-width:480px) {
    .honntai{
        margin: 2.7vh;
    }
}
.rogoma{
    display: block;
    position: relative;
    top: 30px;
    width: 80px;
    height: 80px;
}
.kikann{
    display: block;
    padding: 30px;
    width: 100px;
    height:100px;
}
.ueniku{
    display: none;
    width: 58px;
    height: 58px;
    transform: rotate(-45deg) skew(15deg, 15deg);
    position: relative;
    z-index: 60;
    top: -298px;
    left: 174px;
}
.hidariniku{
    display: none;
    width: 58px;
    height: 58px;
    transform: rotate(15deg) skew(15deg, 15deg);
    position: relative;
    top: -152px;
    z-index: 60;
    left: 90px;
}
.maeniku{
    display: none;
    width: 58px;
    height: 58px;
    transform: rotate(-15deg) skew(-15deg, -15deg);
    position: relative;
    z-index: 60;
    top: -151.5px;
    left: 258px;
}
.nokoritesuu{
    display: none;
    margin: auto 10px 3px auto;
    align-items: flex-end;
}
.mouugoki{
    display: flex;
}
.tesuutesuu{
    width: 60px;
    height: 25px;
    border: 3px solid darkgray;
    border-radius: 10px;
    background-color: lightgrey;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 5px;
    font-size: 20px;
}
.atonanntenoyoko{
    border-radius: 50%;
}
.oooumo{
    animation: fadeIn 0.3s;
    display: none;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(0, 0, 0, 0.6);
}
.setumeisuru{
    animation: fadeIn 0.3s;
    z-index: 75;
    position: absolute;
    padding: 15px;
    top: 100px;
    display: none;
    width: 375px;
    height: 500px;
    background-color: lightgray;
    border: 3px solid gray;
    border-radius: 5px;
}
.setumeisurutoko{
    position: absolute;
    top: 150px;
    left: 370px;
    border-radius: 50%;
}
.sakuzyoaikon{
    position: relative;
    left: 340px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
}
.nyakanyaka{
    display: none;
    margin-top: -50px;
}
.tuke{
    display: block;
}
.nyakanya{
    display: none;
    z-index: 150;
    position: relative;
    padding: 15px;
    top: 80px;
    left: 12.5px;
    width: 350px;
    height: 350px;
    background-color: lightgray;
    border: 3px solid gray;
    border-radius: 5px;
}
.tukurebaii{
    font-size: 19px;
    font-weight: 600;
}
.mozinoirowo{
    color: blue;
    height: fit-content;
}
span.mozinoirowo:hover{
    text-decoration: underline;
}
.korekarasa{
    position: relative;
    left: 43px;
    width: 35px;
    height: 25px;
    border: none;
    border-radius: 10px 10px 0 0;
    background-color: skyblue;
}
.sakuzyoikon{
    position: relative;
    left: 320px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
}
.aratamete{
    display: block;
    position: relative;
    left: 40px;
    top: -2px;
    display: flex;
    height: 272px;
    width: 270px;
    border: 3px solid #5bbee5;
    border-radius: 5px;
    background-color: skyblue;
}
.sannkakuzyougi{
    position: relative;
    width: fit-content;
    height: fit-content;
}
.damezyan{
    display: none;
}
.dakara{
    display: block;
}
.basyodori{
    margin-top: -20px;
    margin-left: 10px;
}
.zyoukyoukakuninnyou{
    position: relative;
    top: 15px;
    left: 230px;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid;
    margin: 10px;
    width: 35px;
    height: 35px;
}
.hyakuhitotume{
    position: relative;
    visibility: hidden;
    width: 30px;
    height: 30px;
    left: 335px;
    top: 10px;
}
.hyakuhutatume{
    position: relative;
    visibility: hidden;
    width: 30px;
    height: 30px;
    left: 25px;
    top: -20px;
}
.hidariueniiku{
    position: relative;
    display: none;
    z-index: 200;
    top: 265px;
    left: 95px;
    border: none;
    width: 20px;
    height: 50px;
    clip-path: polygon(100% 0, 100% 100%, 20% 50%);
    opacity: 75%;
    transform: rotate(60deg);
}
.migiueniiku{
    position: relative;
    display: none;
    z-index: 200;
    top: 215px;
    left: 285px;
    border: none;
    width: 20px;
    height: 50px;
    clip-path: polygon(0 0, 0% 100%, 80% 50%);
    opacity: 75%;
    transform: rotate(-60deg);
}
.hidariniiku{
    position: relative;
    display: none;
    z-index: 200;
    top: 310px;
    left: 5px;
    border: none;
    width: 20px;
    height: 50px;
    clip-path: polygon(100% 0, 100% 100%, 20% 50%);
    opacity: 75%;
}
.miginiiku{
    position: relative;
    display: none;
    z-index: 200;
    top: 255px;
    left: 380px;
    border: none;
    width: 20px;
    height: 50px;
    clip-path: polygon(0 0, 0% 100%, 80% 50%);
    opacity: 75%;
}
.hidarisitaniiku{
    position: relative;
    display: none;
    z-index: 200;
    top: 345px;
    left: 100px;
    border: none;
    width: 20px;
    height: 50px;
    clip-path: polygon(100% 0, 100% 100%, 20% 50%);
    opacity: 75%;
    transform: rotate(-60deg);
}
.migisitaniiku{
    position: relative;
    display: none;
    z-index: 200;
    top: 290px;
    left: 290px;
    border: none;
    width: 20px;
    height: 50px;
    clip-path: polygon(0 0, 0% 100%, 80% 50%);
    opacity: 75%;
    transform: rotate(60deg);
}
button.hidariueniiku:hover {
    opacity: 100%;
    background-color: red;
}
button.migiueniiku:hover {
    opacity: 100%;
    background-color: red;
}
button.hidariniiku:hover {
    opacity: 100%;
    background-color: red;
}
button.miginiiku:hover {
    opacity: 100%;
    background-color: red;
}
button.hidarisitaniiku:hover {
    opacity: 100%;
    background-color: red;
}
button.migisitaniiku:hover {
    opacity: 100%;
    background-color: red;
}
